* {
  position: relative;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: uppercase;
}
::placeholder {
  color: currentColor !important;
  opacity: 1;
}
option:first {
  color: #999;
}
textarea {
  resize: none !important;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
main {
  padding-bottom: 58px;
  min-height: 100vh;
}
section {
  min-height: 100vh;
}
.font-body {
  font-family: "Roboto", sans-serif;
}
