* {
  position: relative;
  box-sizing: border-box;
  outline-color: transparent;
}
*:focus {
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: uppercase;
}
::placeholder {
  color: currentColor !important;
  opacity: 1;
}
option:first {
  color: #999;
}
input,textarea, select {
  border-radius: 0 !important;
}
textarea {
  resize: none !important;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
html,
body,
main,
#jc20 {
  /* height: 100%; */
  /* min-height: calc(var(--vh, 1vh) * 100); */
}
section {
  min-height: 100%;
}
.font-body {
  font-family: "Roboto", sans-serif;
}