@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto:wght@100;300;400;700&display=swap");

.wrapper {
  @apply px-6 mx-auto;
  max-width: 600px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 1000px;
  }
}

.checkboxField input:checked + span {
  @apply bg-white;
}

@responsive {
  .aspect-ratio {
    @apply block relative w-full;
  }

  .aspect-ratio-1\:1 {
    padding-top: 100%;
  }

  .aspect-ratio-16\:9 {
    padding-top: 56.25%;
  }

  .aspect-ratio-4\:3 {
    padding-top: 75%;
  }

  .aspect-ratio-4\:5 {
    padding-top: 125%;
  }

  .aspect-ratio-none {
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
}
.aspect-ratio img,
.aspect-ratio .aspect-ratio-child {
  @apply absolute top-0 left-0 w-full h-full object-cover;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.react-slidedown {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.carousel .slide .img,
.carousel img {
  object-fit: contain;
  /* height: 100%; */
}
.carousel .slide {
  /* max-height: 300px; */
  flex: 1;
  background-color: transparent;
}
.carousel .control-dots {
  bottom: auto;
  top: 16rem;
}
.carousel .control-dots .dot {
  background-color: #32524d;
  box-shadow: none;
  margin: 0 4px;
  width: 6px;
  height: 6px;
}
